@import '../../assets/styles/colors.scss';

.line-component{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .line-item{
        display: flex;
        flex-direction: column;
        height: 60px;
        gap: 4px;
        justify-content: center;
        align-items: flex-start;

        .icon {
            width: 14px;
        }

        .line {
            width: 5px;
            height: 60px;
            margin-left: 6px;
            border-left: dashed 1px $primary-color;
        }

        &:last-child {
            .line {
                border-left: none;
            }
        }
    }
}