.city-list-container {
    .list-line-row{
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .city-list {
        display: flex;
        flex-direction: column;
        flex: 1;

        .form-item-wrapper{
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
        }
    }
}