@import 'colors.scss';

@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
  }
  @mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  }
  @mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
  }
  @mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }

body {
    margin: 0;
    font-size: 12px;
    color: $primary-text-color;
}

button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.higlight-text {
    color: $secondary-color;
    font-weight: 700;
    line-height: 16px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;

    &.column {
        flex-direction: column;
    }
}

.mt-35 {
    margin-top: 35px;
}